# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\ambiente-dev\workspace-desafios\API-Reflection-da-linguagem-Java\RecuperandoPeloObjeto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
